<h1>Monsters</h1>
<% @monsters.each do |monster| %>
  <h2><%= link_to monster.name, "/monsters/#{monster.id}" %>  </h2>
  <p>Enraged: <%= monster.enraged %></p>
  <p>Health: <%= monster.health %></p>
  <%= button_to "Delete Monster", "/monsters/#{monster.id}", method: :delete %>
  <%= button_to "Edit Monster", "/monsters/#{monster.id}/edit", method: :get %>
<% end %>
