<h1> <%= @monster.name %> </h1>
<%= button_to "Edit Monster", "/monsters/#{@monster.id}/edit", method: :get %>
<%= button_to "Delete Monster", "/monsters/#{@monster.id}", method: :delete %> 
<p>Enraged: <%= @monster.enraged %></p>
<p>Health: <%= @monster.health %></p>
