<h1><%= @weapon.name %></h1>
<h3><%= "Ranged Attack? #{@weapon.ranged_attack}" %></h3>
<h3><%= "Fire Rate: #{@weapon.fire_rate}" %></h3>
<h3><%= "Damage: #{@weapon.damage}" %></h3>
<h3><%= link_to 'Update Weapon', "/weapons/#{@weapon.id}/edit" %></h3>
