<h1><%= "Weapons Available To #{@role.name} :"%></h1>
<br>
<%= link_to 'Create New Weapon', "/roles/#{@role.id}/weapons/new" %>
<%= link_to 'Sort Index', "/roles/#{@role.id}/weapons?by_name=true"%>
<span class = "damage_filter">
  <%= form_with url: "/roles/#{@role.id}/weapons?damage_filter=true", method: :get do |form|  %>
    <%= form.label :damage, :value => "Input Damage Threshold" %>
    <%= form.number_field :damage %>
    <%= form.submit :submit, :value => "Only return weapons with damage higher than input value" %>
  <% end %>
</span>
<br>
<% @weapons.each do |weapon| %>
  <div class ="weapon", id= <%= "weapon_#{weapon.id}" %>>
    <h3><%= weapon.name %></h3>
    <p><%= "Ranged Attack? #{weapon.ranged_attack}" %></p>
    <p><%= "Fire Rate: #{weapon.fire_rate}" %></p>
    <p><%= "Damage: #{weapon.damage}" %></p>
    <%= button_to "Edit", "/weapons/#{weapon.id}/edit", method: :get, :id => "Edit_#{weapon.id}" %>
    <%= button_to "Delete", "/weapons/#{weapon.id}", method: :delete %>
  </div>
<% end %>
