<!DOCTYPE html>
<html>
  <head>
    <title>GameWiki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <nav>
      <%= link_to 'Levels', "/levels" %>
      <%= link_to 'Monsters', "/monsters" %>
      <%= link_to 'Roles', "/roles" %>
      <%= link_to 'Weapons', "/weapons" %>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
